@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Cinzel:wght@400;500;600;700;800&family=Leckerli+One&family=Nanum+Myeongjo:wght@400;700&family=Raleway:wght@100;200;300&display=swap');

*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
 
}
:root{
  --ff-primary:'Raleway';
  --ff-secondary:'Cinzel';
  
  --fw-regular:200;
  --fw-fine:100;
  --fw-bold:400;
  
  
  --clr-light:#ffffff;
  --clr-dark:#071e22;
  --clr-accent1:#3d5a80;
  --clr-accent2:#98c1d9;
  --clr-accent3:#e0fbfc;
  --clr-accent4:#ee6c4d;
  --clr-accent5:#293241;
  
  --fs-h1: 3rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.2rem;
   
}

@media (min-width:800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 2rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.5rem;
        
    }
}

body p, h5{
  font-family: var(--ff-primary);
  margin-top: 2%;
}

body p{
    width: 60%;
}

nav{
  width: 100vw;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-end;
  padding: 0;
  position: fixed;
  
}

nav *{
    align-items: flex-end;
  
}

nav ul{
  
  list-style:none;
  display: flex;
}

nav li{
   
  display: inline;
  color:var(--clr-light);
  font-size:var(--fs-body);
  padding: 1em;
  font-family: var(--ff-primary);
  
}

nav li:hover{
    color: var(--clr-accent2)
}

.sidebarToggle{
    color: var(--clr-light);
    background-color: transparent;
    height: 1.5rem;
    width: 6rem;
    font-size: var(--fs-h3);
    border: none;
    margin-left: .2rem;
}


/* Hero Page*/
.wrapper h1{
  font-family: var(--ff-secondary);
  border-bottom: 1px solid var(--clr-light);
  width: 60%;
  height: 50vh;
  font-size: 3em;
  
}
.hero{
  height:25vh;
  width: 100%; 
  background: var(--clr-accent5);
  color: var(--clr-light);
  padding: 0 8.5%;
}

.wrapper{
  height: 50vh;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align:center;
}

.wrapper p{
    color: var(--clr-light);
}

.storeBox{
  position: relative; 
  height:600px;
  width: 100%;
  background: url("https://images.pexels.com/photos/1903760/pexels-photo-1903760.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
  background-attachment: fixed;
}

.logoTxt{
  display:flex;
  height: 5rem;
  color: var(--clr-accent3);
  width: 100%;
  position: absolute;
  top:50%;
  margin-top: 5rem;
  justify-content: center;
  
}

.logoTxt h1{
  font-size: 4rem;
  font-family:var(--ff-secondary);
  
}

/* Product Grid*/

.clothesImg{
    position: relative;
    object-fit: cover;
    height: 25rem;
    display: block;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
   
    
}

.itemWrapper:hover .itemLabel{
    left:0%;
    
}

.itemWrapper:hover .clothesImg{
    transform: scale(1.2);
}


.itemWrapper{

    opacity: 0;
    transform: translateX(20px);
    display: block;
    overflow: hidden;
   
}


.itemWrapper p, h3, a{

  color: var(--clr-light);
  width: 90%;
  
}


.clothesGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    grid-gap: 1rem;
    justify-content: flex-end;
    align-items: space-between;
   
}

.isShowing{
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.4s ease-in-out;
   
}

.itemLabel{
    position: absolute;
    bottom: 0px;
    left: -100%;
    background-color:var(--clr-dark);
    padding: 1em;
    width: 65%;
    height: 20%;
    transition: all 0.3s ease-in-out;

}


/* Periscope*/

.periscope{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: 700px;
    width: 650px;
    background-image: url(./assets/aerieOutdoor1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    border-radius: 50%;
   
}
.salesTxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.salesTxt h1, p{
    color: var(--clr-accent5);

}

/*Aside*/

.showSidebar{
transform: translateX(400px);
color: var(--clr-accent4);
}


.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  transition: all 0.3s linear;
  right: 0;
}

.sidebar *{
    margin-top: 1em;
 
}

.sidebar img{
    height: 100px;
}
.sidebar h1{
    font-family: var(--ff-primary);
}

.cartTitle{
    display: flex;
}
.closeBtn{
   font-size: 2.3rem;
   padding-left: .5em;
   color: var(--clr-dark);
   margin: 0;
}

.productContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1em;
}

.productHeader{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--clr-dark);
    width: 80%;
  
}

.productHeader h5{
    padding: .5em;
}
.productTitle{
    width: 40%;
    flex-wrap: wrap;
}

.price{
    width: 15%;
}
/*footer*/

footer{
    width: 100vw;
    height: 30vh;
    background-color: var(--clr-accent3);
}